DATABASE_URL=postgresql://hn_user:examplepassowrd@localhost:5432/hn_analytics
LOG_LEVEL=INFO
ENGINE_URL=postgresql+psycopg://hn_user:examplepassowrd@localhost:5432/hn_analytics
TEST_DB_URL=postgresql+psycopg://hn_user:examplepassowrd@localhost:5432/hn_test